@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nova+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --calculator-color: #1f263a;
  --calculator-shadow-color: #0c0e1b;

  --display-color: #7bbd9e;
  --display-shadow-color: #70a794;

  --numbers-color: #c2c7ce;
  --numbers-shadow-color: #aaafbd;
  --numbers-hover-color: #d8dee2;

  --operators-color: #39813d;
  --operators-shadow-color: #2f6144;
  --operators-hover-color: #588d43;

  --clear-color: #b66a23;
  --clear-shadow-color: #974f1f;
  --clear-hover-color: #cc862a;
}

body {
  background-color: rgb(59, 57, 65);
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  height: 500px;
  background-color: var(--calculator-color);
  border-bottom: 25px solid var(--calculator-shadow-color);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 2rem;
}

.operation {
  position: absolute;
  font-family: "Nova Mono";
  right: 20px;
  top: 5px;
}

#display {
  position: relative;
  background-color: #7bbd9e;
  border-top: 12px solid var(--display-shadow-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 10px;
}

input {
  width: 100%;
  background-color: inherit;
  border-radius: inherit;
  flex: 0 1 auto;
  padding: 1rem;
  padding-left: 1.4rem;
  border: none;
  text-align: end;
  font-size: 2.5rem;
  font-family: "Nova Mono";
  box-sizing: border-box;
}

button {
  border: none;
  border-bottom: 8px solid;
  font-family: 'Roboto';
  font-size: 2rem;
  transition: background-color ease-out 65ms, border ease-out 65ms;
}

button:active {
  border-bottom: none;
}

input:focus, button:focus {
  outline: none;
}

.grid {
  flex: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 6px;
}

.operator {
  background-color: var(--operators-color);
  border-bottom-color: var(--operators-shadow-color);
  color: white;
}

.operator:hover {
  background-color: var(--operators-hover-color);
  border-bottom-color: var(--operators-color);
}

.operator:active {
  background-color: var(--operators-color);
}

.number {
  background-color: var(--numbers-color);
  border-bottom-color: var(--numbers-shadow-color);
}

.number:hover {
  background-color: var(--numbers-hover-color);
  border-bottom-color: var(--numbers-color);
}

.number:active {
  background-color: var(--numbers-color);
}

#clear {
  background-color: var(--clear-color);
  border-bottom-color: var(--clear-shadow-color);
  color: white;
}

#clear:hover {
  background-color: var(--clear-hover-color);
  border-bottom-color: var(--clear-color);
}

#clear:active {
  background-color: var(--clear-color);
}